@{
    ViewBag.Title = "Contact";
}

<!--
                dit is voor registreren
            -->
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 loginbox">
        <h2>Registreren</h2>
        <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Wachtwoord:</label>
                <div class="col-sm-10">
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwdtwee">Wachtwoord herhalen:</label>
                <div class="col-sm-10">
                    <input id="passwordtwee" type="password" class="form-control" name="passwordtwee" placeholder="Passwordtwee">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="voornaam">Voornaam:</label>
                <div class="col-sm-10">
                    <input id="voornaam" type="text" class="form-control" name="voornaam" placeholder="Voornaam">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="achternaam">Achternaam:</label>
                <div class="col-sm-10">
                    <input id="achternaam" type="text" class="form-control" name="achternaam" placeholder="Achternaam">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>